<form autocomplete='off'>
  <div class='form-group'>
    <label>{{localize 'Type'}}</label>
    <span class='form-fields'>
      <select name='type' data-dtype='Number'>
        {{#select advance.type}}
          {{selectOptions advanceTypes selected=advance.type localize=true}}
        {{/select}}
      </select>
    </span>
  </div>
  <div class='form-group'>
    <label>{{localize 'SWADE.Rank'}}</label>
    <span><input type='text' value='{{rank}}' disabled /></span>
  </div>
  <div class='form-group'>
    <label>{{localize 'SWADE.Advances.Number'}}</label>
    <span class='form-fields'>
      <input type='number' name='sort' value='{{advance.sort}}' />
    </span>
  </div>
  <div class='form-group'>
    <label>{{localize 'SWADE.Advances.Planned'}}</label>
    <span class='form-fields'>
      <input type='checkbox' name='planned' {{checked advance.planned}} />
    </span>
  </div>
  <h2>{{localize 'SWADE.Notes'}}</h2>
  <div class='editor-container'>
    {{editor notes target='advance.notes' button=false engine='prosemirror'}}
  </div>
  <footer>
    <button type='submit' class='close'>
      <i class='fa-solid fa-floppy-disk'></i>
      {{localize 'Save Changes'}}
    </button>
  </footer>
</form>