<hr />
<h4>{{localize 'SWADE.ItemGrants.Header'}}</h4>
{{#if item.isPhysicalItem}}
  <div class='form-group'>
    <label>{{localize 'SWADE.ItemGrants.When'}}</label>
    <span class='form-fields'>
      <select name='system.grantOn' data-dtype='Number'>
        {{#select item.system.grantOn}}
          <option value='0'>
            {{localize 'SWADE.ItemEquipStatus.Added'}}
          </option>
          <option value='1'>
            {{localize 'SWADE.ItemEquipStatus.Carried'}}
          </option>
          {{#unless (eq item.type 'consumable')}}
            <option value='2'>
              {{localize 'SWADE.ItemEquipStatus.Readied'}}
            </option>
          {{/unless}}
        {{/select}}
      </select>
    </span>
  </div>
{{/if}}
<ul class='unmarked-list granted-items'>
  {{#if (isEmpty grantedItems)}}
    <p class='text-center empty-hint'>
      {{localize 'SWADE.ItemGrants.EmptyHint'}}
    </p>
  {{else}}
    {{#each grantedItems}}
      <li class='granted-item' data-uuid='{{uuid}}'>
        {{#if missing}}
          <i class='fa-solid fa-link-slash'></i>
          <a class='grant-name missing'>{{name}}</a>
        {{else}}
          <img class='icon' src='{{img}}' />
          <a class='grant-name'>{{name}}
            {{#if major}}{{localize 'SWADE.Major'}}{{/if}}
          </a>
        {{/if}}
        <button class='grant-delete invisible'>
          <i class='fas fa-trash'></i>
        </button>
      </li>
    {{/each}}
  {{/if}}
</ul>